<section ng-controller="AboutController">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h3>
         A Uttle is your own personal editorial about anything on the web. 
      </h3>
      <p>
        To create a Uttle, you click the "Create" button and give us the URL to whatever it is that you want to talk about. It can be anything really: a link to an article, a picture, a video, a file, a tweet, a blog post, a movie, or anything. Then you simply write your remarks about the item, and you're all done. 
      </p>
      <tabset justified="true">
        <tab>
        <tab-heading>
          <strong>But Why?</strong>
        </tab-heading>
        <p>&nbsp;</p>
          <p>
            When you create a Uttle, you make an object on the web that you can then share with others quickly and easily. Do you want to tweet your opinion on something but it's more than 140 characters? Make a Uttle, and tweet it. Do you want to post your opinion about something, but don't want the audience limited? Make a Uttle and share it.
          </p>
          <p>
            In addition, we link together Uttles about the same subect matter so that you can see what other people think that aren't necessarily in your sphere of thought. Why? Why not?
          </p>
          <p>
            Lastly, you don't need to make a new account here to jump in and get involved. Just sign up with your existing social media account, and you're good to go! 
          </p>
          <h5>
          We want you to have fun, share things with your friends using our tools, and maybe even learn something new.
          </h5>
          <h4>
            So join us!
          </h4>
        </tab>
        <tab>
        <tab-heading>
          <strong>Privacy</strong>
        </tab-heading>
        <p>&nbsp;</p>
        <p>
          Here at Uttles.com we want to facilitate conversation and make things easy on people. So, we allow you to sign up using social networking accounts or your email address, creating a username and a display name. You have control over your profile but please be aware: when you make a profile, anybody on the internet will be able to see your username and display name.
        </p>
        <p>That being said, we aren't going to expose your email to anyone and we also won't pull any additional info about you and your life from the other social media accounts. Some day in the future we may develop a feature that lets you manually import your friends, but that will only happen with your explicit consent.
        </p>
        <p>
          We hope you have fun, and remember anything you say is out on the public internet for all to see. So be responsible.
        </p>

        </tab>
        <tab>
        <tab-heading>
          <strong>Contact</strong>
        </tab-heading>
        <p>&nbsp;</p>
        <p>
        At some point we'll probably put up a fancy contact form. Until then please email any questions or concerns to: <a href="mailto:admin@uttles.com">admin@uttles.com</a>
        </p> 

        </tab>
      </tabset>
      <div>&nbsp;</div>
      <div>
          <p>
            <a class="btn btn-primary" ui-sref="authentication.signup"><i class="fa fa-check-square-o"></i> Sign Up</a>
          </p>

      </div>
    </div>
  </div>


    <!-- Update meta tags and title tags -->
<update-title title="Uttles - A Website for Discussion"></update-title>
<update-meta name="description" content="Uttles.com is a website for quickly and easily publishing your opinion about anything on the internet, and discussing things with anyone and everyone."></update-meta>
<!-- facebook -->
<update-meta property="og:title" content="Uttles - A Website for Discussion"></update-meta>
<update-meta property="og:description" content="Uttles.com is a website for quickly and easily publishing your opinion about anything on the internet, and discussing things with anyone and everyone."></update-meta>
<update-meta property="og:image" content="http://uttles.com/modules/core/client/img/brand/logo.png"></update-meta>
<!-- twitter -->
<update-meta name="twitter:title" content="Uttles - A Website for Discussion"></update-meta>
<update-meta name="twitter:description" content="Uttles.com is a website for quickly and easily publishing your opinion about anything on the internet, and discussing things with anyone and everyone."></update-meta>
<update-meta name="twitter:image" content="http://uttles.com/modules/core/client/img/brand/logo.png"></update-meta>


</section>
